html {
    margin: 0;
    height: 100%;
    font-size: 10px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

body {    
    margin: 0;
    height: 100%;
}

[v-cloak] {
    display: none;
}

a {
    text-decoration: none;
    transition: background .1s ease, box-shadow .1s ease, color .1s ease;
}

button {
    cursor: pointer;
    display: inline-block;
    min-height: 1rem;
    outline: none;
    border: none;
    vertical-align: baseline;
    background: #E0E1E2 none;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0 0.25rem 0 0;
    padding: 0.78571429rem 1.5rem 0.78571429rem;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    line-height: 2rem;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.28571429rem;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
    user-select: none;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
    -webkit-tap-highlight-color: transparent;
}

button:hover {
    background-color: #CACBCD;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
    color: rgba(0, 0, 0, 0.8);
}

button:focus {
    background-color: #CACBCD;
    color: rgba(0, 0, 0, 0.8);
}

button:active {
    background-color: #BABBBC;
    color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 0 1px transparent inset, none;
}


button.primary {
    background-color: #2185D0;
    color: #FFFFFF;
}

button.primary:hover {
    background-color: #1678c2;
    color: #FFFFFF;
}

button.primary:focus {
    background-color: #0d71bb;
    color: #FFFFFF;
}

button.primary:active {
    background-color: #1a69a4;
    color: #FFFFFF;
}


button.secondary {
    background-color: #1B1C1D;
    color: #FFFFFF;
}

button.secondary:hover {
    background-color: #27292a;
    color: #FFFFFF;
}

button.secondary:focus {
    background-color: #2e3032;
    color: #FFFFFF;
}

button.secondary:active {
    background-color: #343637;
    color: #FFFFFF;
}


button.basic {
    background: transparent none;
    color: rgba(0, 0, 0, 0.6);
    font-weight: normal;
    border-radius: 0.28571429rem;
    box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.15) inset;
}

button.basic:hover {
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.35) inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
}

button.basic:focus {
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.35) inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
}

button.basic:active {
    background: #F8F8F8;
    color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 4px 0 rgba(34, 36, 38, 0.15) inset;
}


.fullHeight {
    display: flex;
    flex-direction: row;
}

body > nav {
    position: relative;

    padding-top: 6rem;
    font-size: 1.4rem;
    width: 25rem;
    min-height: calc(100% - 6rem);
    background-color: #1b1c1d;
}

body > nav a {
    display: block;
    color: rgba(255,255,255,.9);

    padding: 1rem 1.6rem;
}

body > nav a:hover {
}

body > nav a.selected {    
    /*padding-left: 1rem;
    border-left: 0.6rem solid #2185d0;
    background: rgba(255,255,255,.08);*/
    color: #fff;
}

body > nav > div.selection {    
    padding-left: 1rem;
    border-left: 0.6rem solid #2185d0;
    background: rgba(255,255,255,.08);

    position: absolute;
    top: -1rem;
    left: 0; 
    right: 0;
    height: 1rem;

    transition-property: height, top;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

body > header {
    margin-left: 25rem;
    position: absolute;

    width: calc(100% - 25rem);
    height: 6rem;

    border-bottom: 1px solid #DDD;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

body > header > h1 {
    height: 6rem;
    line-height: 6rem;
    margin: 0;
    padding: 0 2rem;
    display: inline-block;
}

body > header > div.options {
    display: inline-block;
    vertical-align: super;
}

body > div#main {
    margin-top: 6rem;
    font-size: 1.8rem;
    position: relative;
    width: calc(100% - 25rem);
}

body > div#main > section {
    padding: 2rem;
}


ul.tasks {
    padding: 0;
    list-style-type: none;
}

ul.tasks li {
    padding-bottom: 2rem;
    border-bottom: solid 1px #E0E1E2;
    margin-bottom: 2rem;
}

input[type=url] {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    
    line-height: 2rem;
    padding: 0.78571429rem 1.5rem 0.78571429rem;
    vertical-align: top;
    border: none;
}